/* Base Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

@font-face {
    font-family: 'Monogram';
    src: url('assets/font/monogram/ttf/monogram.ttf') format('truetype');
}

/* Screen Layout */
.screen {
    position: relative;
    width: 70%;
    height: 80vh;
    max-width: 1000px;
    max-height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#start-screen,
#game-screen,
#game-over-screen {
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
}

#start-screen {
    background: url('assets/background3.png') no-repeat center center / cover;
    justify-content: center;
    align-items: center;
}

#game-screen {
    justify-content: flex-start;
    padding-top: 20px;
    position: relative;
    max-width: 1000px;
    max-height: 850px;
}

#game-over-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    max-height: 850px;
}

.hidden {
    display: none !important;
}

/* Start Screen Elements */
#title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#dino-img {
    width: 500px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 15%;
    animation: float 3s ease-in-out infinite;
}

#dino-figure {
    width: 60px;
    height: 64px;
    background: url('assets/dinoCharactersVersion1.1/sheets/DinoSprites - vita.png') no-repeat;
    background-size: auto 64px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    transform: translateX(-50% - 20px);
    animation: float 1s ease-in-out infinite;
}

/* Game UI Elements */
#level-indicator {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

#lives {
    position: absolute;
    display: flex;
    justify-items: flex-start;
    width: 100%;
}

.heart-image {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    top: 10px;
    left: 10px;
    position: relative;
}

/* Game Elements */
#character {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: calc(46px * 1.2);
    height: calc(50px * 1.2);
    background: url('assets/dinoCharactersVersion1.1/sheets/DinoSprites - vita.png') no-repeat;
    background-size: auto calc(50px * 1.2);
    transform: translateX(-50%);
    transition: left 0.15s ease-out, transform 0.15s ease-out;
    z-index: 10;
    will-change: transform, top, left;
}

#floor {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: url('assets/floor.png') repeat-x;
    background-size: 140px 65px;
    z-index: 1;
}

#arrow-indicator {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 140px;
    height: 140px;
    transform: translateY(20%);
    animation: float 1s ease-in-out infinite, moveSideToSide 2s ease-in-out infinite;
    background: url('assets/arrow.png') no-repeat center center / cover;
    z-index: 5;
    display: none;
}

/* Meteor Styles */
.meteor {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('assets/meteors/flaming_meteor.png') no-repeat center center / cover;
}

.explode {
    width: 80px;
    height: 80px;
    opacity: 0.7;
    transition: opacity 0.1s ease-out;
}

/* Game Over Screen */
#game-over-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#game-over-message {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    animation: float 3s ease-in-out infinite;
}

/* Score Table Styles */
#player-name {
    font-family: 'monogram', sans-serif;
    font-size: 28px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 30px 0 10px;
    width: 200px;
    text-align: center;
}

#score-table {
    font-family: 'monogram', sans-serif;
    font-size: 32px;
    width: 60%;
    max-width: 600px;
    border-collapse: collapse;
}

#score-table th,
#score-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

#score-table th {
    background-color: #4caf50;
    color: white;
    font-size: 26px;
}

#score-table td {
    background-color: #f9f9f9;
    font-size: 18px;
}

#score-table tr:nth-child(even) td {
    background-color: #f1f1f1;
}

#score-table tr:hover td {
    background-color: #d6e7d6;
}

#top-and-reset-div {
    width: 60%;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

#reset-scores {
    position: absolute;
    left: 80%;
    top: 24px;
    opacity: 0.01;
}

#restart-button {
    margin-bottom: 10px;
    margin-left: 25%;
}

.top-scores {
    font-family: 'Monogram', sans-serif;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    margin-bottom: 0;
    color: #fff;
    text-shadow: -1px -1px 0 #15150a, 3px -1px 0 #000, -1px 3px 0 #000, 3px 1px 0 #000;
}

#score-table-container {
    max-height: 40vh;
    overflow-y: auto;
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Button Styles */
.retro-button {
    font-family: 'monogram', sans-serif;
    border: 3px dashed #000;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: all 0.1s ease-in-out;
    margin: 10px;
    outline: none;
    border-radius: 50px;
}

.retro-button:before,
.retro-button:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -4px;
    left: -4px;
    z-index: -1;
}

.retro-button:after {
    top: 4px;
    left: 4px;
}

.retro-button:hover,
.retro-button:focus {
    top: 2px;
}

.retro-button:active {
    top: 4px;
}

.retro-button--medium {
    font-size: 26px;
    padding: 10px 20px;
}

.retro-button--large {
    font-size: 28px;
    padding: 15px 30px;
}

.retro-button--primary {
    background-color: #ffcc00;
    color: #000;
    box-shadow: 0 4px #cc9900;
}

.retro-button--primary:before {
    background: #ff9900;
}

.retro-button--primary:after {
    background: #ffcc33;
}

.retro-button--primary:hover,
.retro-button--primary:focus {
    background-color: #ffd700;
}

.retro-button--secondary {
    background-color: #0099cc;
    color: #fff;
    box-shadow: 0 4px #006699;
}

.retro-button--secondary:before {
    background: #006699;
}

.retro-button--secondary:after {
    background: #33ccff;
}

.retro-button--secondary:hover,
.retro-button--secondary:focus {
    background-color: #00bfff;
}

.retro-button--link {
    font-family: 'Monogram', sans-serif;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    box-shadow: none;
}

.retro-button--link:before,
.retro-button--link:after {
    display: none;
}

.retro-button--link:hover,
.retro-button--link:focus {
    color: #00f;
    top: 0;
}

.retro-button--link:active {
    top: 4px;
}

/* Animations */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes moveSideToSide {
    0% {
        transform: translateX(-10%) translateY(20%);
    }

    50% {
        transform: translateX(20px) translateY(20%);
    }

    100% {
        transform: translateX(0) translateY(20%);
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.blink-heart {
    animation: blink 0.5s linear;
}